nav{
    width: 100%;
    height:100px;
    padding: 0px;
    /* background:#1E212D; */
    }
    nav>ul>li{
        display:inline-block;
        text-align:left;
        padding:10px 10px 10px;
        margin-left: 5px;
        justify-content: space-evenly;
        }
        nav ul li a:hover{
            color:hotpink;
        }
nav a{
    color:white;
    text-decoration: none;
    margin-left: 100px;
}
#name{
    color: hotpink;
    font-weight: 500;
    font-style: italic;
    font-size:30px;
    margin-left:5px;
}
.go{
    background-image:url(images/port1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#dp{
   
    display: flex;
    align-items: center;
}
#about{
    color: white;
text-align: center;
}

h2{
    text-align:center;
    color: hotpink;
}

.card{
    text-align: center;
    margin-left: 10px;
}

#skills{
    text-align: center;
    color: white;
}

#contacts{
    margin-top: 20dp;
}
/* form{
    height: 500px;
    width: 500px;
} */
footer{
    height:100px;
background-color: black;
text-align: center;
color: white;
}

span{
    padding-top: 30px;
}
